apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: example
  name: example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
        - image: alpinelinux/darkhttpd
          name: darkhttpd
          volumeMounts:
            - name: data
              mountPath: /data
          containerPorts:
            - name: http
              protocol: TCP
              containerPort: 8080
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: example-data-claim
