apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: guestbook-app
  namespace: app-guestbook-git-ns
spec:
  componentKinds:
    - group: apps.open-cluster-management.io
      kind: Subscription
  descriptor: {}
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - guestbook-app
